[submodule "vision.kanggyeonggu.store"]
	path = vision.kanggyeonggu.store
	url = https://github.com/ConversionDev/251231-vision.git
[submodule "chat.kanggyeonggu.store"]
	path = chat.kanggyeonggu.store
	url = git@github.com:ConversionDev/251231-chat.git
